alias zshcfg="nano ~/.zshrc"
alias gitcfg="nano ~/.gitconfig"
alias sshcfg='nano ~/.ssh/config'

SSH_START_SCRIPT_COMMAND='docker exec -it docker-compose_sidekiq_1 rails c'
sshfzf() {
  # echo $1
  if [ $1 = "d" ]; then
    SSH_HOST=$(cat ~/.ssh/dev.txt | fzf)
  elif [ $1 = "p" ]; then
    export PRODUCTION=$(cat ~/.ssh/productions.txt | fzf)
    echo "connecting to $PRODUCTION"
    ACTIVE_JOB_INLINE=true rails c
    export PRODUCTION=''
    return 0
  else
    SSH_HOST=$(cat ~/.ssh/stagings.txt | fzf)
  fi

  if [ -n "$SSH_HOST" ]; then
    echo "connecting to $SSH_HOST" && ssh "$SSH_HOST.euc1.spaceos.lan" -t $SSH_START_SCRIPT_COMMAND
  else
    echo 'no choice, finishing'
  fi
  
  SSH_START_SCRIPT_COMMAND='bash'
}

alias be='bundle exec'

# type in console: development.log to open it with code
alias -s rb=code
alias -s yml=code
alias -s yaml=code
alias -s md=code
alias -s json=code
alias -s rake=code

alias -s log='less +G'

# rails

alias rc='rails console'
alias rs='rails server'
alias rr='rails routes'

# https://github.com/mihaliak/dotfiles/blob/master/dots/.aliases

alias .='pwd'
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias path='echo $PATH | tr -s ":" "\n"'

alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

alias rmds="find . -type f -name '*.DS_Store' -ls -delete"

alias flushdns='sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder;echo "✌️ DNS flushed"'
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

alias -g @="| grep -i"

# git

alias g='git'

alias ga='git add'
alias gaa='git add --all'

alias gst='git status --short'

alias gb='git branch'

alias gc='git commit --verbose'
alias gcam='git commit --all --message'

alias gco='git checkout'

alias gd='git diff'

alias gf='git fetch'

alias gl='git pull'

alias gp='git push'

# eza ls replacement

alias ls='eza'                                                          # ls
alias l='eza -lbF --git'                                                # list, size, type, git
alias ll='eza -lbGF --git'                                             # long list
alias llm='eza -lbGd --git --sort=modified'                            # long list, modified date sort
alias la='eza -lbhHigUmuSa --time-style=long-iso --git --color-scale'  # all list
alias lx='eza -lbhHigUmuSa@ --time-style=long-iso --git --color-scale' # all + extended list

# specialty views
alias lS='eza -1'                                                              # one column, just names
alias lt='eza --tree --level=2'                                         # tree

# procs ps replacement

alias ps='procs'

# qping as ping
alias ping='gping'

# most as less # to test
# alias most='less'

# micro as nano
alias micro='nano'
